# Node 
node_modules/

# Dotenv
.env

# Hardhat
cache/
contracts/coverage

# Coverage
coverage/

# Other contracts
contracts/cygnus-periphery
contracts/cygnus-oracle
contracts/cygnus-token
contracts/mock-contracts
contracts/cygnus-vault
